<div class="conteiner">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/foto_perfil.jpg" alt="profile-picture" class="img-fluid" id="profile-picture">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h1 id="name">Nicole Guillamon</h1>
            <h2>Jr. Full Stack Developer</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <span>
                <h3>About me</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias voluptatibus a obcaecati dignissimos, non et, explicabo est tempore delectus officia porro esse. Deleniti reiciendis et ipsam sit esse itaque consequuntur!</p>
            </span>
        </div>
    </div>
</div>