
div {
    background-color: rgb(212, 215, 221);
    text-align: center;
}
.row {
    padding: 20px;
}
@media(min-width:576px) {

    #profile-picture {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        left: 3%; 
        top: 90%;
    }

}

@media(max-width:575px) {

    #profile-picture {
        position: absolute;
        width: 35%;
        border-radius: 100%;
        left: 30%; 
        top: 40%;
    }

}

#name {
    font-weight: bold;
    margin-top: 10%;
}

