<div class="row">
    <h3 class="title">Work experience</h3>
    <div class="col-lg-11">
        <ul>
            <li>
                <p class="work-name">Work 1</p><p class="work-date"> - (years)</p>
                <p class="work-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eius illo error recusandae alias esse, maxime porro reiciendis neque, illum ea sapiente dicta ex laborum, iusto tempore blanditiis non est!</p>
            </li>
            <li>
                <p class="work-name">Work 2</p><p class="work-date"> - (years)</p>
                <p class="work-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eius illo error recusandae alias esse, maxime porro reiciendis neque, illum ea sapiente dicta ex laborum, iusto tempore blanditiis non est!</p>
            </li>
            <li>
                <p class="work-name">Work 3</p><p class="work-date"> - (years)</p>
                <p class="work-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eius illo error recusandae alias esse, maxime porro reiciendis neque, illum ea sapiente dicta ex laborum, iusto tempore blanditiis non est!</p>
            </li>
        </ul>
    </div>
</div>