 
    <div class="row">
        <h3 class="skills-title">Hard Skills</h3>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [imageSrc]="'../../../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="50"
            [percent]="75"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [title]="'Javascript'"
            [imageSrc]="'../../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [percent]="60"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>   
</div>

<div class="row">
    <h3 class="skills-title">Soft Skills</h3>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [title]="'Communication'"
            [percent]="75"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
            <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [title]="'Flexibility'"
            [percent]="90"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [title]="'Teamwork'"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
    </div>