header {
    background-color: rgb(96, 157, 159);
}
#logoAP {
    margin-left: 2em;
    width: 150px;
}
#logoInti {
    width: 230px;
}

.social {
    width: 50px;
}

.sign-up {
    margin-right: 2em;
}