<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <img src="../../../assets/APLogo.png" alt="LogoAP" id="logoAP">
      <img src="../../../assets/LogosInti.png" alt="LogoInti" id="logoInti">

<!--     <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-light">About</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Work experience</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Education</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Hard Skills</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Soft skills</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Projects</a></li>
      </ul>
    -->

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="https://github.com/" alt="github" class="nav-link text-white"><img src="../../../assets/github.png" id="github" class="bi d-block mx-auto mb-1" width="40" height="40"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" alt="linkedin" class="nav-link text-white"><img src="../../../assets/linkedin.png" id="linkedin" class="bi d-block mx-auto mb-1" width="40" height="40"></a>
        </li>
      </ul>
                
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-light sign-up">Sign-up</button>
      </div>
    </header>