.row {
    background-color: rgb(96, 157, 159);
}
footer {
    padding: 20px;
    color: #fefefe;
    font-size: 14px;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(12, 12, 12);
}